[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
jupyter = "*"
"beautifulsoup4" = "*"
browsercookie = "*"
pandas = "*"
fake-useragent = "*"
pillow = "*"
tldextract = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.6"
